# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Binaries
*.exe
*.out
*.app

# Directories
dist/
coverage/
tmp/
temp/
build/
data/db/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Tests
junit.xml
coverage-final.json
